body{
    background-color: rgba(140, 211, 130, 0.993);
    padding: 0%;
    padding: 0%;

}


.Name{ font-size: 300%;
    margin-top: -80px;
    margin-left: 400px;
    font-style: oblique;
    padding-right: 200px;
}

.img{
    border: 1px solid #ddd;
    border-radius: px;
    padding: 0px;
    width: 100px;
    height:100px ;
    border-radius: 10%;
    position:relative;
    bottom:170px;
    left:1420px;
}

.cover-box {
        width: 100vw; /* Full screen width */
        height: 50vh;  /* Half screen height */
        overflow: hidden;
        position: relative;
        background-color: #e0e0e0; /* optional background */
    }
    
/*.cover-image {
        width: 75%;
        height: 100%;
        object-fit: cover; /* Crop nicely while filling box *
        
       margin-top: 10;
       margin-left: 60;
    }*/
    