body{
    background-color: rgba(37, 7, 37, 0.993);
    padding: 0%;
    padding: 0%;

}


.Name{ font-size: 300%;
    margin-top: -80px;
    margin-left: 400px;
    font-style: oblique;
    padding-right: 200px;
   position: relative; 
    bottom: 200px;
    left:120px;
    font-family: cursive;
}

.img{
    border: 5px solid #ddd;
    padding: 0px;
    width: 200px;
    height:200px ;
    border-radius: 100%;
    position:relative;
    bottom:420px;
    left:200px;
}

.cover-box {
    width: 750vw; /* Full screen width */
    height: 35vh; /* Half of the screen height */
    overflow: hidden;
    position: relative;
    background-color: #18535ff8; /* optional background */
}

/*cover-image {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Crop nicely while filling box *
       margin-top: 10;
       margin-left: 60;*/
    
li{
    display: inline;
    position: relative;
    bottom: 450px;
     left: 600px; 
     font-size:30px ;
     padding: 20px;

}
a{
    color: white;
    font-family:cursive ; 
}